/* Custom Hover Box Widget Styles */
.wpb_vc_custom_hover_box {
	.vc_control {
		&.column_add {
			display: none;
			pointer-events: none;
		}
	}
}
.wpb_vc_custom_hover_box_default,
.wpb_vc_custom_hover_box_hover {
	.vc_control-btn-clone,
	.vc_control-btn-delete {
		display: none;
	}
}
