.vc_shortcodes_container.wpb_vc_single_item_slider_item,
.vc_shortcodes_container.wpb_vc_multi_item_slider_item,
.vc_shortcodes_container.wpb_vc_table_row {
	background-color: #f5f5f5;
}
.wpb_vc_inline_custom_button .vc_admin_label {
	display: inline-block;
	width: 70%;
}
.wpb-layout-element-button[data-element=vc_inline_custom_button] .vc_element-icon {
    background-image: url('../images/custom_button.png');
    background-size: contain;
    background-position: center center;
}

.vc_custom_button_icon.vc_element-icon {
    background-image: url('../images/custom_button.png');
    background-size: contain;
    background-position: center center;
}

.wpb-layout-element-button[data-element=vc_blockquote] .vc_element-icon {
    background-image: url('../images/blockquote.png');
    background-size: contain;
    background-position: center center;
}
.vc_blockquote_icon.vc_element-icon {
    background-image: url('../images/blockquote.png');
    background-size: contain;
    background-position: center center;
}

.wpb-layout-element-button[data-element=vc_linkable_column] .vc_element-icon {
    background-image: url('../images/linkable-column.png');
    background-size: contain;
    background-position: center center;
}
.vc_linkable_column_icon.vc_element-icon {
    background-image: url('../images/linkable-column.png');
    background-size: contain;
    background-position: center center;
}

.wpb-layout-element-button[data-element=vc_single_item_slider] .vc_element-icon {
    background-image: url('../images/single-item-slider.png');
    background-size: contain;
    background-position: center center;
}
.vc_single_item_slider_icon.vc_element-icon {
    background-image: url('../images/single-item-slider.png');
    background-size: contain;
    background-position: center center;
}
.wpb-layout-element-button[data-element=vc_single_item_slider_item] .vc_element-icon {
    background-image: url('../images/single-item-slider-item.png');
    background-size: contain;
    background-position: center center;
}
.vc_single_item_slider_item_icon.vc_element-icon {
    background-image: url('../images/single-item-slider-item.png');
    background-size: contain;
    background-position: center center;
}

.wpb-layout-element-button[data-element=vc_multi_item_slider] .vc_element-icon {
    background-image: url('../images/single-item-slider.png');
    background-size: contain;
    background-position: center center;
}
.vc_multi_item_slider_icon.vc_element-icon {
    background-image: url('../images/single-item-slider.png');
    background-size: contain;
    background-position: center center;
}
.wpb-layout-element-button[data-element=vc_multi_item_slider_item] .vc_element-icon {
    background-image: url('../images/single-item-slider-item.png');
    background-size: contain;
    background-position: center center;
}
.vc_multi_item_slider_item_icon.vc_element-icon {
    background-image: url('../images/single-item-slider-item.png');
    background-size: contain;
    background-position: center center;
}

.wpb-layout-element-button[data-element=vc_rotary_menu] .vc_element-icon {
    background-image: url('../images/rotary-menu.png');
    background-size: contain;
    background-position: center center;
}
.vc_rotary_menu_icon.vc_element-icon {
    background-image: url('../images/rotary-menu.png');
    background-size: contain;
    background-position: center center;
}

.wpb-layout-element-button[data-element=vc_table] .vc_element-icon {
    background-image: url('../images/table_icon.png');
    background-size: contain;
    background-position: center center;
}
.vc_table_icon.vc_element-icon {
    background-image: url('../images/table_icon.png');
    background-size: contain;
    background-position: center center;
}
.wpb-layout-element-button[data-element=vc_table_row] .vc_element-icon {
    background-image: url('../images/table_row_icon.png');
    background-size: contain;
    background-position: center center;
}
.vc_table_row_icon.vc_element-icon {
    background-image: url('../images/table_row_icon.png');
    background-size: contain;
    background-position: center center;
}
.wpb-layout-element-button[data-element=vc_table_th] .vc_element-icon {
    background-image: url('../images/table_th_icon.png');
    background-size: contain;
    background-position: center center;
}
.vc_table_th_icon.vc_element-icon {
    background-image: url('../images/table_th_icon.png');
    background-size: contain;
    background-position: center center;
}
.wpb-layout-element-button[data-element=vc_table_td] .vc_element-icon {
    background-image: url('../images/table_td_icon.png');
    background-size: contain;
    background-position: center center;
}
.vc_table_td_icon.vc_element-icon {
    background-image: url('../images/table_td_icon.png');
    background-size: contain;
    background-position: center center;
}